/* p {
    background-color: aqua;
} */

#i{
    background-color: red;
}

.c{
    background-color: blueviolet;
}
*{
    margin: 0%;
    padding: 0%;
    font-family: cursive;
}

.container p{
    font-size:xx-large;
}

.container >p {
    color: thistle;
}

.container2 {
    background-color: aquamarine;
}

p + h3 {
    font-weight: bold;
    color: yellow;
}